.link
{
   background-color:#2d8659;

  padding: 12px;
  color: black;
  font-size: 12px ;
}

.link a {
  background-color:#2d8659;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.link a:hover {
  background-color: #ddd;
  color: black;
}

